In [2]:
import pandas as pd

s_1 = pd.Series(data = [1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
print(s_1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
s_1['d']

4

In [6]:
s_1[1]

2

In [23]:
s_1['f']=6
print(s_1)

a    1
b    2
c    3
d    4
e    5
k    6
f    6
dtype: int64

In [25]:
print(s_1["c":"e"])

c    3
d    4
e    5
dtype: int64

In [14]:
df = pd.DataFrame(data = [[1, 2], [5, 3], [3.7, 4.8]], columns = ['col1', 'col2'])
print(df)

   col1  col2
0   1.0   2.0
1   5.0   3.0
2   3.7   4.8

In [17]:
df["col1"][2]

3.7

In [18]:
df["col2"][1]=9
print(df)

   col1  col2
0   1.0   2.0
1   5.0   9.0
2   3.7   4.8

In [20]:
df[1:3]

   col1  col2
1   5.0   9.0
2   3.7   4.8

In [27]:
df["col3"]=(df["col1"]*df["col2"])
print(df)

   col1  col2   col3
0   1.0   2.0   2.00
1   5.0   9.0  45.00
2   3.7   4.8  17.76