In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split # Импортируем функцию для разбиения данных
from sklearn.linear_model import LinearRegression # Импортируем класс LinearRegression

In [2]:
df = pd.read_excel("hypop_data.xlsx")

In [3]:
df

    height  weight  IGF-1  dose (mg/day)  height_target
0    145.0    44.5  212.0           1.50          148.5
1    148.5    47.5  597.0           1.60          148.5
2    148.5    47.5  658.0           1.75          159.0
3    159.0    51.0  658.0           1.75          171.0
4    142.0    29.0  383.0           0.95          148.0
..     ...     ...    ...            ...            ...
86   145.0    35.0  527.0           1.20          160.0
87   160.0    43.0  518.0           1.40          163.0
88   163.0    46.0  709.0           1.50          167.0
89   167.0    52.0  559.0           0.50            NaN
90   127.0    29.0  136.0           0.95          134.0

[91 rows x 5 columns]

In [4]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 90
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         57 non-null     float64
 1   weight         57 non-null     float64
 2   IGF-1          57 non-null     float64
 3   dose (mg/day)  57 non-null     float64
 4   height_target  57 non-null     float64
dtypes: float64(5)
memory usage: 2.7 KB

In [5]:
df.corr()

                 height    weight     IGF-1  dose (mg/day)  height_target
height         1.000000  0.870358  0.705570       0.812085       0.930150
weight         0.870358  1.000000  0.646293       0.837384       0.838411
IGF-1          0.705570  0.646293  1.000000       0.603558       0.693967
dose (mg/day)  0.812085  0.837384  0.603558       1.000000       0.799718
height_target  0.930150  0.838411  0.693967       0.799718       1.000000

In [6]:
X = df.drop('height_target', axis = 1) # признаки - все столбцы кроме height_target
y = df['height_target'] # ответ - столбец height_target

In [7]:
X.head()

   height  weight  IGF-1  dose (mg/day)
0   145.0    44.5  212.0           1.50
1   148.5    47.5  597.0           1.60
2   148.5    47.5  658.0           1.75
3   159.0    51.0  658.0           1.75
4   142.0    29.0  383.0           0.95

In [8]:
y.head()

0    148.5
1    148.5
2    159.0
3    171.0
4    148.0
Name: height_target, dtype: float64

In [22]:
# Разбиваем данные на тренировочную и тестовую выборку 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 15) 
# Если не задать параметр random_state, то при каждом запуске разбиение будет меняться!

# random_state = 10
# random_state = 15

In [23]:
X_train.head()

    height  weight  IGF-1  dose (mg/day)
61   156.0    52.0  515.0           1.65
3    159.0    51.0  658.0           1.75
87   160.0    43.0  518.0           1.40
75   147.0    35.0  747.0           1.10
51    86.0    12.2   25.0           0.37

In [24]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 61 to 8
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         45 non-null     float64
 1   weight         45 non-null     float64
 2   IGF-1          45 non-null     float64
 3   dose (mg/day)  45 non-null     float64
dtypes: float64(4)
memory usage: 1.8 KB

In [25]:
X_test.head() # В test 12 объектов

    height  weight  IGF-1  dose (mg/day)
64   137.0    27.0  161.0           0.90
27   134.0    28.0   61.2           0.65
34   123.0    35.0   96.9           1.05
38   154.0    40.0  195.0           1.35
23   145.0    35.0  352.0           1.20

In [26]:
lin_reg = LinearRegression() # Создаем экземпляр класса
lin_reg.fit(X_train, y_train) # Обучаем

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
lin_reg.score(X_train, y_train) # Оценка качества на обучающей выборке

0.8765362095320326

In [28]:
lin_reg.score(X_test, y_test) # Оценка качества на тестовой выборке

0.8515322352486226

In [29]:
lin_reg.intercept_ # Значение w0

38.61239359527984

In [30]:
lin_reg.coef_ # Значение коэффициента w1

array([6.75502400e-01, 8.67118978e-02, 5.67275699e-03, 6.40045581e+00])

In [31]:
import numpy as np
from sklearn.model_selection import cross_val_score
cross = cross_val_score(lin_reg, X, y, cv=4)

In [32]:
cross

array([0.79030016, 0.8223401 , 0.63271511, 0.87364896])

In [33]:
np.mean(cross)

0.7797510833096446