In [26]:
#Импартируем библиотеку pandas
import pandas as pd

#Импортируем таблицу из внешнего файла, добовляем названия к столбцам, все пробелы помечаем как отсуствующие данные
df=pd.read_csv("wr88125.txt", names=['index', 'year', 'month', 'day', 'min_t', 'average_t', 'max_t', 'rainfall'], sep=";", skipinitialspace=True)
df

       index  year  month  day  min_t  average_t  max_t  rainfall
0      29838  1960      1    1   -6.9       -5.4   -3.8       0.1
1      29838  1960      1    2  -14.4      -10.0   -6.7       0.5
2      29838  1960      1    3  -21.7      -19.7  -13.4       0.0
3      29838  1960      1    4  -24.9      -21.4  -16.9       0.0
4      29838  1960      1    5  -18.3       -8.0   -3.3       4.1
...      ...   ...    ...  ...    ...        ...    ...       ...
22276  29838  2020     12   27  -41.7      -36.3  -32.8       0.0
22277  29838  2020     12   28  -40.1      -34.2  -25.5       0.0
22278  29838  2020     12   29  -28.2      -23.9  -18.6       0.0
22279  29838  2020     12   30  -21.8      -13.6   -9.9       0.8
22280  29838  2020     12   31  -23.2      -19.0  -10.0       1.4

[22281 rows x 8 columns]

In [27]:
# Удаляем столбец index
df=df.drop(columns=["index"])
df

       year  month  day  min_t  average_t  max_t  rainfall
0      1960      1    1   -6.9       -5.4   -3.8       0.1
1      1960      1    2  -14.4      -10.0   -6.7       0.5
2      1960      1    3  -21.7      -19.7  -13.4       0.0
3      1960      1    4  -24.9      -21.4  -16.9       0.0
4      1960      1    5  -18.3       -8.0   -3.3       4.1
...     ...    ...  ...    ...        ...    ...       ...
22276  2020     12   27  -41.7      -36.3  -32.8       0.0
22277  2020     12   28  -40.1      -34.2  -25.5       0.0
22278  2020     12   29  -28.2      -23.9  -18.6       0.0
22279  2020     12   30  -21.8      -13.6   -9.9       0.8
22280  2020     12   31  -23.2      -19.0  -10.0       1.4

[22281 rows x 7 columns]

In [28]:
#Используя метод info отвечаем на вопросы задания 3
df.info(verbose=True)
print('Да, существуют.')
print(str(df.isnull().sum()))
print('В строке max_t больше всего пропущенных значений. Задание 3 выполнено.')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22281 entries, 0 to 22280
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       22281 non-null  int64
 1   month      22281 non-null  int64
 2   day        22281 non-null  int64
 3   min_t      22255 non-null  float64
 4   average_t  22255 non-null  float64
 5   max_t      21717 non-null  float64
 6   rainfall   22253 non-null  float64
dtypes: float64(4), int64(3)
memory usage: 1.2 MB
Да, существуют.
year           0
month          0
day            0
min_t         26
average_t     26
max_t        564
rainfall      28
dtype: int64
В строке max_t больше всего пропущенных значений. Задание 3 выполнено.

In [29]:
#По заданию 4 определяем год с наибольшим количеством пропусков
#Определяем наименьшее количество значений по всем столбцам за каждый год
min_count=df.groupby(pd.Grouper(key="year")).count().sum(axis=1).min()
df2=df.groupby(pd.Grouper(key="year")).count().sum(axis=1)
#Перегрупперуем серию что бы по имеющемуся значению пропусков вывести значение года.
k=df2.keys()
v=df2.values
s = pd.Series(data = k, index = v)
print("Больше всего пропусков за "+str(s[min_count])+" год. ")

Больше всего пропусков за 1961 год.

In [30]:
#Создаём группировку по годам для последующих заданий
df4=df.groupby(pd.Grouper(key="year"))
range_t=[]
precipitation=[]
chek=0
average_min_t=[]
average_max_t=[]
#Создаём цикл для перебора всех строк имеющихся данных
for i in range(df.shape[0]):
    #В каждой строке в столбец year вставляем строковое значение даты в формате гггг-мм-дд для задания 5
    df["year"][i]=str(df["year"][i])+'-'+str(df["month"][i])+'-'+str(df["day"][i])
    #Вычисляем размах суточных температур по заданию 6
    range_t.append(round((df["max_t"][i]-df["min_t"][i]), 2))
    #Вычисляем периоды без осадков по заданию 6
    if df["rainfall"][i]!=0:
        chek=0
    else:
        chek+=1
    #Определяем даты со средняя температура воздуха выше 27оС и количество дней без осадков больше 3 по заданию 9
    if df["average_t"][i]>27:
        average_max_t.append(df["year"][i])
    # Определяем даты со средняя температура воздуха ниже -30 оС по заданию 9
    if df["average_t"][i]<-30 and chek>3:
        average_min_t.append(df["year"][i])
    precipitation.append(chek)
# Удаляем колонки month и day по заданию 5
df=df.drop(columns=["month", "day"])
#Преобразуем первый столбец к типу datatime по заданию 5
df['year'] = pd.to_datetime(df['year'])
#Переименовываем первый столбец по заданию 5
df=df.rename(columns={'year': 'date', 'min_t': 'min_t', 'average_t':'average_t', 'max_t': 'max_t', 'rainfall' : 'rainfall'})
print(df.dtypes)
df

<ipython-input-30-51c34ebc50c2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"][i]=str(df["year"][i])+'-'+str(df["month"][i])+'-'+str(df["day"][i])
C:\Users\Graf35\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

date         datetime64[ns]
min_t               float64
average_t           float64
max_t               float64
rainfall            float64
dtype: object

            date  min_t  average_t  max_t  rainfall
0     1960-01-01   -6.9       -5.4   -3.8       0.1
1     1960-01-02  -14.4      -10.0   -6.7       0.5
2     1960-01-03  -21.7      -19.7  -13.4       0.0
3     1960-01-04  -24.9      -21.4  -16.9       0.0
4     1960-01-05  -18.3       -8.0   -3.3       4.1
...          ...    ...        ...    ...       ...
22276 2020-12-27  -41.7      -36.3  -32.8       0.0
22277 2020-12-28  -40.1      -34.2  -25.5       0.0
22278 2020-12-29  -28.2      -23.9  -18.6       0.0
22279 2020-12-30  -21.8      -13.6   -9.9       0.8
22280 2020-12-31  -23.2      -19.0  -10.0       1.4

[22281 rows x 5 columns]

In [31]:
#Добавляем информацию об продолжительность дней без осадков и размахе температур в таблицу
df3 = pd.DataFrame({"range_t": range_t, "precipitation": precipitation})
df=pd.concat([df, df3], axis=1)
df

            date  min_t  average_t  max_t  rainfall  range_t  precipitation
0     1960-01-01   -6.9       -5.4   -3.8       0.1      3.1              0
1     1960-01-02  -14.4      -10.0   -6.7       0.5      7.7              0
2     1960-01-03  -21.7      -19.7  -13.4       0.0      8.3              1
3     1960-01-04  -24.9      -21.4  -16.9       0.0      8.0              2
4     1960-01-05  -18.3       -8.0   -3.3       4.1     15.0              0
...          ...    ...        ...    ...       ...      ...            ...
22276 2020-12-27  -41.7      -36.3  -32.8       0.0      8.9              2
22277 2020-12-28  -40.1      -34.2  -25.5       0.0     14.6              3
22278 2020-12-29  -28.2      -23.9  -18.6       0.0      9.6              4
22279 2020-12-30  -21.8      -13.6   -9.9       0.8     11.9              0
22280 2020-12-31  -23.2      -19.0  -10.0       1.4     13.2              0

[22281 rows x 7 columns]

In [32]:
df["precipitation"].max()

27

In [33]:
#Определяем самую низкую и самую высокую среднегодовую температуру по заданию 8
max_t=df4["average_t"].mean().max()
min_t=df4["average_t"].mean().min()
df_average_t=df4["average_t"].mean()
#Перегрупперуем серию что бы по имеющемуся значению вывести значение года.
k=df_average_t.keys()
v=df_average_t.values
year_average_t = pd.Series(data = k, index = v)
print("Самый тёплый год был: "+str(year_average_t[max_t])+". Самый холодный год был: "+ str(year_average_t[min_t]))
#Определяем самый дождливый год по заданию 8
rain_max=df4["rainfall"].sum().max()
rain_min=df4["rainfall"].sum().min()
df_rain=df4["rainfall"].sum()
#Перегрупперуем серию что бы по имеющемуся значению вывести значение года.
k=df_rain.keys()
v=df_rain.values
year_rain = pd.Series(data = k, index = v)
print("Самый дождливый год: "+str(year_rain[rain_max]))
print("Самый Засушливый год: "+str(year_rain[rain_min]))

Самый тёплый год был: 2020. Самый холодный год был: 1969
Самый дождливый год: 1970
Самый Засушливый год: 1973

In [34]:
print("Даты, когда средняя температура воздуха ниже -30 оС"+ str(average_min_t))
print("Даты, когда средняя температура воздуха выше 27оС и количество дней без осадков больше 3"+ str(average_max_t))

Даты, когда средняя температура воздуха ниже -30 оС['1966-1-22', '1966-12-24', '1966-12-25', '1969-1-28', '1969-1-29', '1969-1-30', '1969-2-19', '1972-1-24', '1972-1-25', '1975-12-3', '1975-12-4', '1975-12-5', '1975-12-6', '1975-12-7', '1977-1-2', '1977-1-3', '1977-1-4', '1979-1-28', '1984-12-14', '1984-12-15', '1984-12-16', '1987-11-24', '1987-11-25', '1998-1-13', '1998-1-14', '2001-1-7', '2005-1-26', '2005-12-12', '2010-1-7', '2010-1-8', '2010-1-9', '2010-1-20', '2010-2-13', '2010-12-23', '2011-1-7', '2011-1-8', '2012-1-20', '2018-1-22', '2018-1-24', '2018-1-25', '2018-1-26', '2018-1-27', '2018-12-28', '2019-2-8']
Даты, когда средняя температура воздуха выше 27оС и количество дней без осадков больше 3['1963-6-24', '1965-6-16', '1965-6-17', '1965-7-13', '1965-7-22', '1969-7-3', '1969-7-4', '1969-7-5', '1974-7-11', '1977-6-21', '1983-7-20', '1988-6-17', '1992-7-15', '1997-7-5', '2000-8-6', '2002-8-11', '2012-8-13', '2014-7-12']